@model MvcTest.Models.ViewModels.PersonViewModel

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h1>Update @Model.FullName</h1>
        <h3>User Details</h3>
        <hr />
        @Html.HiddenFor(model => model.PersonId)
        @Html.HiddenFor(model => model.FirstName)
        @Html.HiddenFor(model => model.LastName)

        <div class="form-group">
            @Html.LabelFor(model => model.IsAuthorised, htmlAttributes: new { @id = "IsAuthorisedLabel" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.IsAuthorised, new { @id = "IsAuthorised" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IsEnabled, htmlAttributes: new { @id = "IsEnabledLabel" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.IsEnabled, new { @id = "IsEnabled" })
                </div>
            </div>
        </div>

        <h3>Favourite Colours</h3>
        <hr />
        @for (var i = 0; i < Model.Colours.Count; i++)
        {
            @Html.Label(Model.Colours.ElementAt(i).Name)
            <br/>
            @Html.CheckBoxFor(a => Model.Colours[i].IsChecked)
            @Html.HiddenFor(a => Model.Colours[i].ColourId)
            @Html.HiddenFor(a => Model.Colours[i].Name)
            <br />
        }
        <br />
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts{
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {

            $("#IsAuthorisedLabel").click(function (event) {
                event.preventDefault();
                if ($("#IsAuthorised").is(":visible")) {
                    $("#IsAuthorised").hide();
                } else {
                    $("#IsAuthorised").show();
                }
            });

            $("#IsEnabledLabel").click(function (event) {
                event.preventDefault();
                if ($("#IsEnabled").is(":visible")) {
                    $("#IsEnabled").hide();
                } else {
                    $("#IsEnabled").show();
                }
            });

        });
    </script>
}
