@model IEnumerable<MvcTest.Models.ViewModels.PersonViewModel>

@{
    ViewBag.Title = "Index";
}
<table class="table">
    <tr>
        <th>
            @Html.Label("Name")
        </th>
        <th>
            @Html.Label("Palindrome")
        </th>
        <th>
            @Html.Label("Authorised")
        </th>
        <th>
            @Html.Label("Enabled")
        </th>
        <th>
            @Html.Label("Colours")
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.ActionLink(item.FullName, "Edit", new { @id = item.PersonId })
            </td>
            <td>
                @Html.DisplayFor(i => item.IsPalindrome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsAuthorised)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsEnabled)
            </td>
            <td>
                @Html.Label(item.ColoursString)
            </td>
        </tr>
    }
</table>