@model IEnumerable<MvcTest.Models.ViewModels.PersonViewModel>

@{
    ViewBag.Title = "Index";
}
<table class="table">
    <tr>
        <th>
            @Html.Label("Name")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsAuthorised)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsEnabled)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.ActionLink(item.FullName, "Edit", new {@id=item.PersonId})
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsAuthorised)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsEnabled)
            </td>
        </tr>
    }
</table>